@import '../styles/_colors.scss';
@import '../styles/_breakpoints.scss';

.card {
  background-color: $bg-white;
  border-radius: 0.3rem;
  box-shadow: 0 0.3rem 0.5rem rgba($color, 0.1);
  margin: 1rem auto;
  max-width: 36rem;
  padding: 2rem 1.5rem;
  width: 95%;

  @include breakpoint(tablet) {
    padding: 2rem 3rem;
  }

  @include breakpoint(desktop) {
    max-width: 48rem;
  }
}
